body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; 
}

.image-container {
    margin: 10vh 25vw;
    box-sizing: border-box;
    text-align: center;
    width: 50vw;
    height: calc(80vh - 20px); 
}

img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
    width: 50%; 
    position: fixed;
    box-sizing: border-box;
    
}

button:hover {
    background: linear-gradient(to right, #00f2fe, #4facfe);
}
